#education{padding:50px 15px 20px 15px;border-bottom:1px solid #dcd9d9;text-align:center}

.btn-more-projects{display:inline-block;color:#000000;padding:15px 25px;border:3px solid #dcd9d9;border-radius:30px;transition:.5s ease all}
.btn-more-projects:hover{color:#000000;background:#dcd9d9;text-decoration:none}

.project-info{position:absolute;top:50%;transform:translateY(-50%);margin-left:300px;padding:15px}
.project-info h3{font-size:1.5em;font-weight:300;color:#374054;margin:0 0 15px 0}
.project-info p{color:#74808a;margin:0 0 15px 0;font-size:0.9em}
.no-image 
.project-info{position:relative;margin:0;padding:30px 15px;transform:none}

.project-image{float:right}
.project-image{display:none}

#blogs{padding:50px 15px;border-bottom:1px solid #dcd9d9;text-align:center}#blogs h2{color:#374054;margin-bottom:50px}
#certificates{padding:50px 15px;border-bottom:1px solid #dcd9d9;text-align:center}#certificates h2{color:#374054;margin-bottom:50px}

.optional-section-block h5{font-weight:500;margin:0 0 15px 0;color:#374054}